/* the background image*/
/*body {
    background-image: url("../img/potato.png")
}*/


.mdl-cell {
    padding: 20px;
    background-color: #f3f3f3;
}

.menuWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

