.mdl-cell {
    padding: 20px;
	background-color: #f3f3f3;
	min-width: 300px
}


.mdl-grid {
	min-width: 300px
}


@media screen and (max-width: 540px) {
	.mdl-layout__tab-bar {
	   display: none;
	  }
	}


@media screen and (min-width: 541px) {
	.mdl-layout__drawer-button {
		display: none;
	}
}


	

.menuWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

